.canvasDiv{
    min-width: 100%;
    height: 80vh;
    border: 1px solid black;
}

.categoryBlock{
    display: flex;
    flex-direction: column;
    min-width: 150px;
    min-height: 150px;
    border: 1px solid gray;
    margin: 10px;
    position: absolute;
    padding: 20px;
}

.offerNeedCard{
    display: flex;
    flex-direction: column;
    background-color: yellow;
    max-width: 50%;
    border: black 1px solid;
    height: auto;
    padding: 10px;
}