.header{
    margin-bottom: 15px;
}

.canvasDiv{
    min-width: 99%;
    height: 90vh;
    border: 1px solid black;
    margin: 0px 30px;
}

.categoryBlock{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 150px;
    max-width: 800px;
    min-height: 150px;
    margin: 10px;
    padding: 20px;
    position: absolute;
}

.offerNeedCard{
    display: flex;
    flex-direction: column;
    width: 40%;
    box-shadow: 2px 2px 5px gray;
    margin: 10px;
    height: auto;
    padding: 10px;
    align-items: center;
    overflow-wrap: break-word;
    word-break: break-all;
}

.offerCard{
    background-color: rgb(147, 182, 224);
}

.needCard{
    background-color: rgb(138, 202, 161);
}

.aboutArticle{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.addArticle{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(240, 79, 106);
}

.linkText{
    color: black;
    text-decoration: None;
    font-size: small;
}

.link{
    text-decoration: none;
    font-size: larger;
}

.cardTitle{
    width: 100%;
    text-align: center;
}


.labels{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.offerLabel{
    background-color: rgb(147, 182, 224);
    width: 10px;
    height: 10px;
}

.needLabel{
    background-color: rgb(138, 202, 161);
    width: 10px;
    height: 10px;
}

.labelPart{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 5px;
}

.labelText{
    font-size: smaller;
}
