.header{
    margin-bottom: 15px;
}

.canvasDiv{
    min-width: 99%;
    height: 90vh;
    border: 1px solid black;
    margin: 0px 30px;
}

.categoryWrapper{
    display: flex;
    flex-direction: row;
    position: absolute;
}

.categoryBlock{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 400px;
    max-width: 800px;
    /*min-height: 150px;*/
    margin: 10px;
    padding: 20px;
    position: relative;
}

.subCategoryBlock{
    position: absolute;
    top: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 800px;
}

.subCategory{
    max-width: 50%;
}

.subCategoryDiv{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 400px;
    min-height: 150px;
    margin: 10px;
    padding: 20px;
}

.offerNeedCard{
    display: flex;
    flex-direction: column;
    width: 40%;
    box-shadow: 2px 2px 5px gray;
    margin: 10px;
    height: auto;
    padding: 10px;
    align-items: center;
    overflow-wrap: break-word;
}

.offerCard{
    background-color: rgb(147, 182, 224);
}

.needCard{
    background-color: rgb(138, 202, 161);
}

.aboutArticle{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.addArticle{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(240, 79, 106);
}

.linkText{
    color: black;
    text-decoration: None;
    font-size: small;
}

.link{
    text-decoration: none;
    font-size: larger;
}

.cardTitle{
    width: 100%;
    text-align: center;
}


.labels{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.offerLabel{
    background-color: rgb(147, 182, 224);
    width: 10px;
    height: 10px;
}

.needLabel{
    background-color: rgb(138, 202, 161);
    width: 10px;
    height: 10px;
}

.labelPart{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 5px;
}

.labelText{
    font-size: smaller;
}

.autoSortButton:hover, .originalSortButton:hover{
    cursor: pointer;
}

.autoSortButton, .originalSortButton{
    border: 1px black solid;
    width: fit-content; 
    text-align: center;
}

.sortingDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 40%;
}

.autoSortDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
}


@media (max-width: 768px) {
    .offerNeedCard {
        width: 100%;
    }
}