.whiteboardDiv{
    width: 80%;
    border-radius: 4px;
    box-shadow: 
    0 0 0px 2px var(--tertiary),     
    0 0 0px 6px var(--primary),   
    0 0 0px 10px var(--secondary),   
    0 0 0px 13px var(--quaternary); 
    margin-bottom: 40px;
    background-color: white;
}

.allWhiteboardArticles{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    justify-content: space-between;
    text-align: center;
    border-radius: 4px;
    margin-bottom: 100px;
    background-color: white;
}

.categoryDiv{
    width: 40%;
    margin-top: 20px;
    cursor: pointer;
}

.offerDiv{
    border: 1px solid rgb(228, 228, 228);
    border-radius: 4px;
    padding: 5px 5px;
    text-align: center;
    background-color: white;
    margin-bottom: 20px;
    margin-top: 20px;
    box-shadow: 
    0 0 0px 3px var(--primary),   
    0 0 0px 5px var(--secondary),   
    0 0 0px 7px var(--quaternary); 
}

.postedBy{
    font-size: 12px;
    color: rgb(94, 92, 92);
}

.categoryCollapseButton{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: black 1px solid;
    padding: 10px;
    border-radius: 4px;
    align-items: center;
}

.categoryCollapseButton.sub{
    width: 90%;
    font-size: smaller;
    padding: 6px;
    margin-top: 10px;
}

.collapsed{
    display: none;
}

.arrowIcon{
    font-size: 20px;
}
.arrowIcon.sub{
    font-size: 15px;
}