.category-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
    box-shadow: 
    0 0 0px 2px var(--tertiary),     
    0 0 0px 6px var(--primary),   
    0 0 0px 10px var(--secondary),   
    0 0 0px 13px var(--quaternary); 
    margin-bottom: 40px;
    border-radius: 4px;
}

.create-category-form {
    min-width: 700px;
    padding: 20px 20px 40px 20px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    background-image: none;
    border-radius: 4px;
    border: none;

    color: #000000;
    box-sizing: border-box;
    display: inline-block;
    margin-top: 40px;
}

.create-category-form > div {
    margin: 40px 40px;
    display: flex;
    flex-direction: column;
}

.create-category-form > div > input {
    font-size: 30px;
}