.adminPage{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    align-items: center;
    min-height: 50vh;
    text-align: center;
    margin-top: 30px;
}

.navigateButton{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 
        0 0 0px 2px var(--tertiary),
        0 0 0px 6px var(--primary),
        0 0 0px 10px var(--secondary),
        0 0 0px 13px var(--quaternary);
    border-radius: 4px;
    padding: 10px;
    width: 60%;
    font-weight: bold;
    margin-bottom: 40px;
    cursor: pointer;
    Background-color: white;
}

.allMeetings{
    width: 60%;
    background-color: white;
}

.button-small.small{
    padding: 5px;
    font-weight: 100;
}

.meeting{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    border: 1px solid grey;
    border-radius: 8px;
    margin-bottom: 10px;
    font-weight: bold;
    padding: 20px;
}

.meetingButtons{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
}

.collapsed{
    display: none;
}

.arrowIcon{
    margin-left: auto;
    order: 2;
}

.navigateButton .buttonDesc{
    flex-grow: 1;
    text-align: center;
}

.link{
    font-size: 10px;
    min-height: 12px;
    width: 100%;
}

.inputWrapper{
    position: relative;
    display: inline-block;
    width: 100%;
}

label[for=link]{
    margin-top: 10px;
}

.inputWrapper button {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.errorMessage{
    color: red;
}

.editButton{
    margin-bottom: 15px;
}