
.category-list {
    min-width: 700px;
    padding: 20px 20px 40px 20px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #000;
    border-radius: 4px;
    box-shadow: #000000 4px 4px 0 0,#000 4px 4px 0 1px;
    color: #000000;
    box-sizing: border-box;
    display: inline-block;
    margin-top: 40px;
    margin-bottom: 60px;
}

.category-list > ul {
    border: 1px solid black;
    border-radius: 4px;
    height: 500px;
    overflow-y: auto;
    padding: 0 5px 20px 5px;
}

.category-list > ul > li {
    border-bottom: 1px solid rgb(150, 150, 150);
    padding: 10px 5px 15px 5px;
    list-style-type: none;
}

select {
    font-size: 18px;
}
label {
    margin-bottom: 5px;
}
.remove-button {
    appearance: button;
    cursor: pointer;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #000;
    border-radius: 4px;
    box-shadow: #000000 2px 2px 0 0,#000 2px 2px 0 1px;
    padding: 3px 7px ;
    box-sizing: border-box;
    color: #000000;
    font-size: 12px;
    padding-top: 3px;
    padding-bottom: 3px;
    float: right;
    margin-top: 0;
}

@keyframes blinkGreen {
    0% { background-color: transparent; }
    50% { background-color: #ACE1AF; }
    100% { background-color: transparent; }
  }
  
  .blink {
    animation: blinkGreen 1s ease-out;
  }