.newOfferPage{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
    border-radius: 4px;
    background-color: white;
    box-shadow: 
    0 0 0px 6px var(--primary),
    0 0 0px 10px var(--secondary),
    0 0 0px 13px var(--quaternary);
    width: 80%;
}

.newOffer {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    border-radius: 0px 0px 4px 4px;
    padding: 20px 20px 20px 5px;
    margin-bottom: 50px;
    background-color: #fff;
    width: 80%;
}

.formDiv{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}

.formDiv label {
    margin-bottom: 3px;
    font-weight: bold;
}

.input-fields {
    height: 30px;
    font-size: 20px;
}



.formFields{
    margin-bottom: 20px;
}


.recipeForm > div > textarea {
    height: 150px;
}

.AddOfferOrNeed{
    width: 100%;
    background-color: var(--primary);
    margin-bottom: 0px;
    border-radius: 4px 4px 0px 0px;
}

.formDiv select {
    margin-bottom: 10px;
}


#description{
    font-family: inherit;
}