.create-account-form {
    min-width: 700px;
    padding: 20px 20px 40px 20px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #000;
    border-radius: 4px;
    box-shadow: 
    0 0 0px 2px var(--tertiary),     
    0 0 0px 6px var(--primary),   
    0 0 0px 10px var(--secondary),   
    0 0 0px 13px var(--quaternary); 
    color: #000000;
    box-sizing: border-box;
    display: inline-block;
    margin-top: 40px;
    margin-bottom: 40px;
}

.createAccountDiv > div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.create-account-form > div {
    margin: 40px 40px;
    display: flex;
    flex-direction: column;
}

.create-account-form > div > input {
    font-size: 30px;
}

@media screen and (max-width: 768px) {
    .create-account-form{
        min-width: 200px;
        max-width: 80%;
    }
}