.login-form {
    padding: 20px 20px 40px 20px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #000;
    border-radius: 4px;
    box-shadow: 
    0 0 0px 2px var(--tertiary),     
    0 0 0px 6px var(--primary),   
    0 0 0px 10px var(--secondary),   
    0 0 0px 13px var(--quaternary); 
    color: #000000;
    box-sizing: border-box;
    display: inline-block;
    margin-top: 40px;
}

.login-form > div {
    margin: 40px 40px;
    display: flex;
    flex-direction: column;
}

.login-form > div > input {
    font-size: 30px;
}

a {
    margin: 100px 10px 10px 10px;
    color: #666;
}