.myArticlesDiv{
    border: 1px solid #000;
    border-radius: 4px;
    box-shadow: 
    0 0 0px 2px var(--tertiary),     
    0 0 0px 6px var(--primary),   
    0 0 0px 10px var(--secondary),   
    0 0 0px 13px var(--quaternary); 
    color: #000000;
    text-align: center;
    width: 80%;
}


.listOfArticles input{
    width: 100%;
}


@media only screen and (max-width: 700px) {
  .articleTable {
    width: 95%;
    margin: auto;
  }
}