.newOfferPage{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.newOffer {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    min-width: 700px;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 50px;
}

.formDiv{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}

.formDiv label {
    margin-bottom: 3px;
    font-weight: bold;
}

.input-fields {
    height: 30px;
    font-size: 20px;
}



.formFields{
    margin-bottom: 20px;
}


.recipeForm > div > textarea {
    height: 150px;
}