.header{
    color: white;
    text-align: center;
    width: 100%;
}

.logoImage{
    background-image: url('C:\Users\teoes\OneDrive\Dokument\GitHub\OANM\app\client\frontend\public\Ecubuntu_logo_resize.png');
    background-position: center;
    background-size: 60%;
    background-repeat: no-repeat;
    min-height: 200px;
    width: 100%;
}

