.header{
    color: white;
    background-color: white;
    text-align: center;
    width: 100%;
    margin-bottom: 50px;
    box-shadow: 
    0 0 0px 4px var(--primary),   
    0 0 0px 8px var(--secondary),   
    0 0 0px 12px var(--quaternary); 
}

.logoImage{
    background-image: url('../../public/Ecubuntu_logo_resize.png');
    background-position: center;
    background-size: 60%;
    background-repeat: no-repeat;
    min-height: 200px;
    width: 100%;
}

