.header{
    background-color: white;
    text-align: center;
    width: 100%;
    margin-bottom: 50px;
    box-shadow: 
    0 0 0px 4px var(--primary),   
    0 0 0px 8px var(--secondary),   
    0 0 0px 12px var(--quaternary); 
}

.logoImage{
    position: relative;
    background-image: url('../../public/Ecubuntu_logo_resize.png');
    background-position: center;
    background-size: 60%;
    background-repeat: no-repeat;
    min-height: 200px;
    width: 100%;
}

.profileDiv{
    float: right;
    right: 30px;
    position: absolute;
    top: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.linkButton{
    text-decoration: none;
    display: block;
}

.linkButton:visited{
    color: black;
}

.profileButton{
    font-size: 15px;
    border-radius: 4px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
}



